:root {
  --primary-white-900: #ffffff;
  --primary-white-500: #c9d1d9;
  --primary-dark-900: #000000;
  --primary-dark-700: #0d1117;
  --primary-dark-500: #161b22;
  --neutral-gray-900: #21262d;
  --neutral-gray-800: #6e768166;
  --neutral-gray-700: #8b949e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* preview container styles */

.preview > :first-child {
  margin-top: 0px;
}

/* paragraph */
.preview > p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--primary-white-500);
}

.preview p code {
  padding: 0.125rem 0.35rem;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  background-color: var(--neutral-gray-800);
  border-radius: 0.35rem;
}

.preview pre {
  margin-top: 24px;
  margin-bottom: 14px;
  display: block;
  width: 100%;
}

.preview pre code {
  display: block;
  padding: 16px;
  overflow: auto;
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.45;
  background-color: var(--primary-dark-500);
  border-radius: 0.4rem;
}


.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 0.3rem;
  font-weight: 500;
  line-height: 1.25;
}

.preview h1 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--neutral-gray-900);
}

.preview h2 {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid var(--neutral-gray-900);
}

.preview h3 {
  font-size: 1.25rem;
}

.preview h4 {
  font-size: 1rem;
}

.preview h5 {
  font-size: 0.875rem;
}

.preview h6 {
  font-size: 0.85rem;
  color: #8b949e;
}
